// Global Variables
$baseColor: #2f5572;
$secondaryColor: #fefefe;
$highlightColor: orange;

// Normalize CSS
@import "modules/normalize";

// Global CSS
@import "modules/global-styles";

// Modifyers CSS
@import "modules/modifyers";

// Main Header CSS
@import "modules/Header/mainheader";

// Main Hero CSS
@import "modules/MainHero/main-hero";

// Our Features CSS
@import "modules/OurFeatures/ourfeatures";

// Our Testimonials CSS
@import "modules/Testimonials/testimonials";

// Main Footer CSS
@import "modules/Footer/footer";

// Mobile Styles
@import "modules/Small/smartphones";
@import "modules/Medium/ipads";
@import "modules/Large/desktop";
@import "modules/Huge/widescreen";
