// Global Variables
$baseColor: #2f5572;
$secondaryColor: #fefefe;
$highlightColor: orange;

// Normalize CSS
@import "modules/normalize";

// Global CSS
@import "modules/global-styles";

// Modifyers CSS
@import "modules/modifyers";

// Main Hero CSS
@import "modules/MainHero/main-hero";


