@media screen and ( min-width: 769px ) {
  .wrapper {
    max-width: 980px;
  }

  // MAIN HEADER
  .main-header {

    background-color: rgba(47,85,114, 0.30);
    position: fixed;
    width: 100%;
    min-height: 55px; 
    z-index: 300;
  
    font-weight: bold;
  }
  
  .header-container {
    min-height: 55px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    img#logo {
      height: 100px;
      width: 185px;
  
      position: absolute;
      padding: 1rem;
      margin-top: -28px;
      background: $highlightColor;
  
    }
  
  
    nav {
      display: flex;
    }
  
    nav ul li:last-child {
      background: $highlightColor;
    }
  
    nav ul{
      min-height: 55px; 
      display: flex;
      flex-direction: row;
      align-items: center;
  
      li {
        min-height: 55px; 
        background: $baseColor;
        padding: 1rem;
        height: 100%;
        transition: 0.5s ease;
  
        a {
          color: $secondaryColor;
          transition: 0.5s ease;
        }
      }
  
      li:hover {
        background: none;
      }
  
      a#intouch {
        padding: 1rem;
        min-height: 55px;
        background: $highlightColor;
        color: $secondaryColor;
        transition: 0.5s ease;
      }
  
      a#intouch:hover {
        color: $highlightColor;
        background: $secondaryColor
      }
      
      
    }
  }
  
  


  // MAIN HERO
  .large-hero {
    &__main-image {
    height: 675px;
    }

    &__heading {
      font-size: 3rem;
    }

    &__sub-heading {
      font-size: 4rem;
      margin-bottom: 1rem;
    }

    &__content {
      max-width: 100%;
      font-size: 3rem; 
      font-weight: bold;   
    }
  }



  // OUR FEATURES

  .heading-container {

    display: flex;
    justify-content: center;
    align-items: center;

    &__img {
      display: inline;
      width: 48px;
      padding: 0;
    }
    
    &__text {
      display: inline;
      span {
        font-weight: lighter; 
      }
    }
  }

  

  .featured__items {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

  }
  
  .featured__item {
    margin: 1rem;
    flex: 1;

    min-width: 320px;
  
    img {
      padding: 1.4rem;
      margin-bottom: 1rem;
      float: left;
      display: inline-block;
      width: 100px;
      height: 100%;
    }
  
    h3, p {
      text-align: left;
    }
  
    h3 {
      font-size: 2rem;
    }
  }

  // TESTIMONIALS 
  .testimonials__items { 

    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .testimonials__item {
    margin: 1rem;
  }

  // FOOTER 
  #footer {
    background: $baseColor;
    padding: 1rem 0;
  }
  
  .footer-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
  
    p {
      font-size: 1.4rem;
      color: $secondaryColor;
      display: block;
    }
  
    a.btn {
      display: flex;
      align-items: center;  
      border-radius: 4px;
    }
  }
}