@media screen and ( min-width: 769px ) {
  .wrapper {
    max-width: 980px;
  }

  .featured__items {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

  }
  
  .featured__item {
    margin: 1rem;
    flex: 1;

    min-width: 320px;
  
    img {
      padding: 1.4rem;
      margin-bottom: 1rem;
    }
  
    h3, p {
      text-align: center;
    }
  
    h3 {
      font-size: 2rem;
    }
  }
}