@media screen and ( min-width: 769px ) {
  .wrapper {
    max-width: 980px;
  }

  // MAIN HERO
  .large-hero {
    &__main-image {
    height: 560px;
    }

    &__heading {
      font-size: 3rem;
    }

    &__sub-heading {
      font-size: 4rem;
      margin-bottom: 1rem;
    }

    &__content {
      max-width: 100%;
      font-size: 3rem; 
      font-weight: bold;   
    }
  }



  // OUR FEATURES

  .heading-container {

    display: flex;
    justify-content: center;
    align-items: center;

    &__img {
      display: inline;
      width: 48px;
      padding: 0;
    }
    
    &__text {
      display: inline;
      span {
        font-weight: lighter; 
      }
    }
  }

  

  .featured__items {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

  }
  
  .featured__item {
    margin: 1rem;
    flex: 1;

    min-width: 320px;
  
    img {
      padding: 1.4rem;
      margin-bottom: 1rem;
      float: left;
      display: inline-block;
      width: 100px;
      height: 100%;
    }
  
    h3, p {
      text-align: left;
    }
  
    h3 {
      font-size: 2rem;
    }
  }

  // TESTIMONIALS 
  .testimonials__items { 

    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .testimonials__item {
    margin: 1rem;
  }

  // FOOTER 
  #footer {
    background: $baseColor;
    padding: 1rem 0;
  }
  
  .footer-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
  
    p {
      font-size: 1.4rem;
      color: $secondaryColor;
      display: block;
    }
  
    a.btn {
      display: flex;
      align-items: center;  
      border-radius: 4px;
    }
  }
}