/*************************
    GLOBAL STYLES
*************************/

.wrapper {
  padding: 0 1rem;
}

.section-padding-3 {
  padding: 3rem 0;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;

}

body { 
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  color: #333; 
}

// Colors
.base-color {
  background: $baseColor;
}

.secondary-color {
  background: $secondaryColor;
}

.highlight-color {
  background: $highlightColor;
}

// Image 
.obj-fit {
  object-fit: cover;
}



// Button Styles

.btn {
  color: $secondaryColor;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  display: inline-block;
}

.large {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}


